
include *.py *.ini *.sty *.txt
recursive-include DocumentWriter *.py
recursive-include Plugins *.py
recursive-include Resources *

exclude *.pyc *.pyo

prune .svn
prune */.svn
prune UnitTests
